#data files/folders
genomes
transcripts
genes
blast
config
alignment
raxml

#sequence files that accidentally
#get into the main directory ^_^
*.fa
*.phy
*.nwk

#VIM files
*.swp
*.swo

#test files
*.out
*.tab
test*

#LaTeX files
*.log
*.aux
